* {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
margin: 0;
display: flex;
flex-flow: row wrap;
background-color: #fff0d6;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}


.response-number {
  border-radius: 25px;
  display: grid;
  width: 400px;
  height: 120px;
  background-color: #edb85f;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: bold;
  justify-items: center;
  align-items: center;
}

.response-number:hover {
  background-color: #e39d27;
}

.response-number2 {
  border-radius: 25px;
  display: grid;
  width: 300px;
  height: 90px;
  background-color: #edb85f;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: bold;
  justify-items: center;
  align-items: center;
}

.response-number2:hover {
  background-color: #e39d27;
}


.active{
  border-radius: 25px;
  display: grid;
  width: 300px;
  height: 80px;
  background-color: #edb85f;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: 30px;
}



/* SPEAKERS*/
.divspeaker{
	display: grid;

}


.speaker {
   background-color: #edb85f;
    border: none;
    width: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;

  }



  #speaker {
   width: 80px;
   height: 80px;
  }



/*buttons*/
.start {
   border-radius: 25px;
   display: inline-block;
   width: 350px;
   height: 100px;
   background-color: #edb85f;
   color: black;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-style: normal;
   font-weight: bold;
   line-height: 30px;
   align-items: center;

}



#weiter{
  border-radius: 25px;
   display: grid;
   width: 350px;
   height: 100px;
   background-color: #edb85f;
   color: black;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-style: normal;
   font-weight: bold;
   line-height: 30px;
   justify-items: center;
   align-items: center;
   text-decoration: none;

}

#weiter:hover {
  background-color: #e39d27;
}

#zurück{
  border-radius: 25px;
   display: grid;
   width: 350px;
   height: 100px;
   background-color: #edb85f;
   color: black;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-style: normal;
   font-weight: bold;
   line-height: 30px;
   justify-items: center;
   align-items: center;
   text-decoration: none;

}

#zurück:hover {
  background-color: #e39d27;
}




.achievements{
  border-radius: 25px;
   display: grid;
   width: 250px;
   height: 50px;
   background-color: #edb85f;
   color: black;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-style: normal;
   font-weight: bold;
   line-height: 30px;
   position: absolute;
    left: 1200px;
    top: 40px;
    


}

.achievements:hover {
  background-color: #e39d27;
    
}

* {
	box-sizing: border-box
}


}

.Foto {
  width: 500px;
  height: 500px;
  display: grid;
}

.Foto-mittel {
  width: 300px;
  height: 300px;
  display: grid;
}

.Foto-klein{
  width: 100px;
  height: 100px;
  display: grid;
}


.Foto-panorama{
  width: 476px;
  height: 150px;
  display: grid;

}

.avatar {
  width: 150px;
  height: 150px;
  display: grid;
  position: absolute;
  left: 20px;
  top: 20px;
}

.container {

	width: 100vw;
	height: 100vh;

	font-size: 25px;

	display: grid;

	grid-template-columns: : 1fr 1fr 1fr;
	grid-template-rows: 50px 150px 1fr 100px;

	gap: 10px;

	padding: 10px;
	box.sizing: border-box;
}

.container div {

	padding: 10px;

}


.Menue {

	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;

}

.Frage {

	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align:center;
	place-self: center;
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 30px;
  	font-style: normal;
}

.content-large {
  place-self: center;
  align-items: center;
  justify-content: center;
}

.Inhalt-Mitte {
  grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
  place-self: center;
  justify-content: center;
  align-items: center;
}

.Inhalt-Links {
  grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
  place-self: center;
}

.Inhalt-Rechts {
  grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
  place-self: center;
}


.footer {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	place-self: center;

}

.footer2  {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	position: absolute;
    left: 600px;
    top: 650px;
    

}

.nickname {
    grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	position: absolute;
    left: 675px;
    top: 300px;
    
}

.absenden {
     grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
    place-self: center;
    justify-content: center;
    align-items: center;